<a href="https://colab.research.google.com/github/emilsar/bit-of-data-science-and-scikit-learn/blob/master/Copy_of_TRAIN_AWS_Part_I_Pre_Session_1_Homework_%5BSOLUTIONS%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Homework: Python Basics - Part 1**
---

### **Problem #1**
---

Modify the code to calculate the area of a rectangle whose length is 10 and width is 5.

In [ ]:
length = 5
width = 4
area = length*width
print(area)

20

#####**Solution**

In [ ]:
length = 10
width = 5
area = length*width
print(area)

50

### **Problem #2**
---

Modify the code to calculate the `cost_per_person` if the `total_cost` is 500.

In [ ]:
total_cost = 100
number_of_people = 5
cost_per_person = total_cost/number_of_people
print(cost_per_person)

#####**Solution**

In [ ]:
total_cost = 500
number_of_people = 5
cost_per_person = total_cost/number_of_people
print(cost_per_person)

100.0

### **Problem #3**
---

Modify the code shown below to calculate the final exam grade needed when:

| Exam         	| Grade 	| Weight 	|
|--------------	|-------	|--------	|
| Exam 1:      	| 75    	| 0.2    	|
| Exam 2:      	| 82    	| 0.2    	|
| Final Exam:  	| ?     	| 0.6    	|
| Final Grade: 	| 85    	|        	|

In [ ]:
exam_1_grade = 90
exam_1_weight = 0.25

exam_2_grade = 84
exam_2_weight = 0.3

final_exam_weight = 0.45
wanted_final_grade = 90

required_grade_on_final = (wanted_final_grade- exam_1_grade*exam_1_weight - exam_2_grade*exam_2_weight)/final_exam_weight
print(required_grade_on_final)

93.99999999999999

#####**Solution**

In [ ]:
exam_1_grade = 75
exam_1_weight = 0.2

exam_2_grade = 82
exam_2_weight = 0.2

final_exam_weight = 0.6
wanted_final_grade = 85

required_grade_on_final = (wanted_final_grade- exam_1_grade*exam_1_weight - exam_2_grade*exam_2_weight)/final_exam_weight
print(required_grade_on_final)

89.33333333333333

### **Problem #4**
---
Print `Hello friends.`

#####**Solution**

In [ ]:
# print("TEXT")
print("Hello friends.")

### **Problem #5**
---
Print the number `10`.

#####**Solution**

In [ ]:
# print(NUM)
print(10)

### **Problem #6**
---
Create a variable that stores a list of three countries. Print the variable.

#####**Solution**

In [ ]:
countries = ["USA", "England", "Japan"]
print(countries)

### **Problem #7**
---
Print the year.

#####**Solution**

In [ ]:
print(2023)

2023

### **Problem #8**
---
What is wrong with these declarations? If there is a problem, correct it. If there is not a problem, use a comment to write "NONE" on the same line.

```
1var = 10
2var = 20
3var = 30
Var4 = 40
VAR5 = 50
var6 = 60
month&year = "July 2022"
hello = "hello"
in = "in"
```

#####**Solution**

In [ ]:
var1 = 10
var2 = 20
var3 = 30
var4 = 40
var5 = 50
var6 = 60   # NONE
month_and_year = "July 2022"
hello = "hello"   # NONE
in_word = "in"    # you cannot use Python keywords!

### **Problem #9**
---
Create a variable `name` and assign it to your name. Print `name`. Then, reassign `name` to a friend's name. Print again.

#####**Solution**

In [ ]:
name = "Name 1"
print(name)
name = "Name 2"
print(name)

### **Problem #10**
---
Label the following data types.
```
2
8.9
"Train"
["string"]
5.0
```

#####**Solution**

In [ ]:
2           # int
8.9         # float
"Train"     # string
["string"]  # list
5.0         # float

### **Problem #11**
---
Create a list called `nums` with the numbers 1, 2, and 3 inside.

#####**Solution**

In [ ]:
nums = [1, 2, 3]
print(nums)

### **Problem #12**
---
Which of the following is a valid variable name in Python:
```
a variable
A_variable
a.variable
a_variable
```

#####**Solution**

In [ ]:
# a_variable

### **Problem #13**
---
Using only variables, print the statement `"I love coding"`.

#####**Solution**

In [ ]:
x = "I love "
y = "coding!"
z = x + y
print(z)

### **Problem #14**
---
Create variables `age` and `name`. Using these variables, print a message that says "Hello, [your name]! You are [your age] years old."

#####**Solution**

In [ ]:
name = "Marie"
age = 22
print("Hello, " + name + "! You are " + str(22) + " years old.")

Hello, Marie! You are 22 years old.

---
© 2023 The Coding School, All rights reserved

### **Problem #15**
---
Create variables `zipcode`, `city` and `state`. Using these variables, print a message that says "[your zipcode] is a zipcode in [your city], [your state]."

#####**Solution**

In [ ]:
zipcode = 92110
city = 'San Diego'
state = 'California'

print(str(92110) + " is a zipcode in " + city + ", " + state + ".")

92110 is a zipcode in San Diego, California.

### **Problem #16**
---
If the `entered_password` is not equal to "password123", print "Incorrect password." Otherwise, print "Login successful."

In [ ]:
entered_password = "pasword123"

# COMPLETE THIS CODE

#####**Solution**

In [ ]:
entered_password = "pasword123"

if entered_password != "password123":
    print("Incorrect password.")
else:
    print("Login successful.")

Incorrect password.

# End of Notebook

---
© 2023 The Coding School, All rights reserved