<a href="https://colab.research.google.com/github/emilsar/bit-of-data-science-and-scikit-learn/blob/master/TRAIN_AWS_Part_I_Pre_Session_2_%5BSOLUTIONS%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pre-Session 2: Introduction to Python**
---

### **Description**
In this lab, we will continue learn the basics of coding in python that will be necessary for machine learning in the following days.

<br>

### **Lab Structure**
* **Part 1**: [Review](#p1)
* **Part 2**: [Lists](#p2)
* **Part 3**: [[OPTIONAL] Lists and Indexing Practice](#p3)


<br>

### **Goals**
By the end of this lab, you will:
* Feel comfortable with print statements, variables, and data types in python.
* Be familiar with lists and indexing.

<br>

### **Cheat Sheets**
* [Python Basics](https://docs.google.com/document/d/1jC6zIdBukfEoJ8CesGf_usCtK2P6pJTWe5oxopC49aY/edit?usp=sharing)

<a name="p1"></a>


---
## **Part 1: Review**
---

### **Problem #1.1**

Print your age.

#### **Solution**

In [ ]:
print(60)

### **Problem #1.2**

Print your name.

#### **Solution**

In [ ]:
print("NAME")

### **Problem #1.3**

What are the following data types?

```python
11
"zipcode"
3.0
3
"yellow"
[1, 2, 3]
-11
["peaches", "grapes", "tomatoes"]
"49ers"
```

#### **Solution**

In [ ]:
11 #integer
"zipcode" #string
3.0 #float
3 #integer
"yellow" #string
[1, 2, 3] #list
-11 #integer
["peaches", "grapes", "tomatoes"] #list
"49ers" #string

### **Problem #1.4**

Create a variable called `name` and assign it to your name. Then print a statement that reads: `Welcome back, [YOUR NAME]`

#### **Solution**

In [ ]:
name = "Lisa"
print("Welcome back, " + name)

### **Problem #1.5**

Using the variable `zipcode`, print: `"My zipcode is <zipcode>"`.

In [ ]:
zipcode = 11780

#### **Solution**

In [ ]:
zipcode = 11780
print("My zip code is " + str(zipcode))

### **Problem #1.6**

Print the sum of 76 and 92.

#### **Solution**

In [ ]:
print(76+92)

### **Problem #1.7**

Print the product of 2 and 45.0.

#### **Solution**

In [ ]:
print(2*45.0)

90.0

### **Problem #1.8**

Print the sum of students and teachers.

In [ ]:
students = 35
teachers = 1
# add code here

#### **Solution**

In [ ]:
students = 35
teachers = 1
print(students + teachers)

### **Problem #1.9**

Create a variable named `participants`. Set it equal to the number of participants in this zoom. Use this variable to print "There are [x] participants in this zoom."

#### **Solution**

In [ ]:
participants = 20
print("There are " + str(participants) + " participants in this zoom.")

There are 20 participants in this zoom.

<center>

---

### **Back to Lecture**

---

<a name="p2"></a>

---
## **Part 2: Lists**
---

### **Problem #2.1**

**Together**, let's create a list called `states` of 4 different U.S. states. Print the list.

<br>

**NOTE**: When you create a list, this is referred to as *initializing a list*.

In [ ]:
states = ["Montana", "California", "Alabama", "Georgia"]
print(states)

['Montana', 'California', 'Alabama', 'Georgia']

### **Problem #2.2**

**Together**, let's initialize a list called `even` of all even numbers from 1-10. Print the list.

In [ ]:
even = [2, 4, 6, 8, 10]
print(even)

[2, 4, 6, 8, 10]

#### **Solution**

In [ ]:
even = [2, 4, 6, 8, 10]
print(even)

### **Problem #2.3**

**Together**, let's use indexing to print out `“code!”` from the following list.

In [ ]:
ls = ["I", "love", "to", "code!"]

#### **Solution**

In [ ]:
ls = ["I", "love", "to", "code!"]
print(ls[3])

### **Problem #2.4**

**Together**, let's use indexing to print Alexus' name from the following list.

In [ ]:
family = ["Rebecca", "Samuel", "Indiyah", "Alexus"]

#### **Solution**

In [ ]:
family = ["Rebecca", "Samuel", "Indiyah", "Alexus"]
print(family[3])

Alexus

### **Problem #2.5**

**Independently**, initialize a list called `count` of numbers 1-6. Print the list.

#### **Solution**

In [ ]:
count = [1, 2, 3, 4, 5, 6]
print(count)

### **Problem #2.6**

Initialize a list called `animals` of your three favorite animals. Print the list.

#### **Solution**

In [ ]:
animals = ["chicken", "dogs", "penguins"]
print(animals)

### **Problem #2.7**

Use indexing to print out `"the"` in the provided list.

In [ ]:
ls = ["welcome", "to", "the", "coding", "school"]

#### **Solution**

In [ ]:
ls = ["welcome", "to", "the", "coding", "school"]
print(ls[2])

### **Problem #2.8**

Print `21` using indexing.

In [ ]:
numbers = [17, 15, 21, 33]

#### **Solution**

In [ ]:
numbers = [17, 15, 21, 33]
print(numbers[2])

### **Problem #2.9**

Print `"Math"` using indexing.

In [ ]:
subjects = ["Math", "Science", "History", "English"]

#### **Solution**

In [ ]:
subjects = ["Math", "Science", "History", "English"]
print(subjects[0])

### **Problem #2.10**

Print `"jellyfish"` using indexing.

In [ ]:
animals = ["shark", "fish", "octopus", "jellyfish", "whale"]

#### **Solution**

In [ ]:
animals = ["shark", "fish", "octopus", "jellyfish", "whale"]
print(animals[4])

<center>

---

### **Back to Lecture**

---

### **Problem #2.11**

**Together**, let's replace the values of `41` and `20` in the provided list, `ascending`, so that the list is in ascending order.

In [ ]:
ascending = [12, 13, 41, 15, 16, 20, 18]

#### **Solution**

In [ ]:
ascending = [12, 13, 41, 15, 16, 20, 18]
ascending[2] = 14
ascending[5] = 17
print(ascending)

### **Problem #2.12**

**Together**, let's modify the list `endangered` as follows:

1. Replace `"Tiger"` with `"Rhino"`. Print the list.
2. Replace `"Snow leopard"` with `"Elephant"`. Print the list.

In [ ]:
endangered = ["Tiger", "Giant panda", "Snow leopard", "Vaquita"]

#### **Solution**

In [ ]:
endangered = ["Tiger", "Giant panda", "Snow leopard", "Vaquita"]
endangered[0] = "Rhino"
print(endangered)
endangered[2] = "Elephant"
print(endangered)

['Rhino', 'Giant panda', 'Snow leopard', 'Vaquita']
['Rhino', 'Giant panda', 'Elephant', 'Vaquita']

### **Problem #2.13**

**Independently**, replace `"monkeys"` with `"penguins"` in the list below. Print the list.

In [ ]:
fav_animals = ["giraffes", "walruses", "pandas", "peacocks", "monkeys"]

#### **Solution**

In [ ]:
fav_animals = ["giraffes", "walruses", "pandas", "peacocks", "monkeys"]
fav_animals[4] = "penguins"
print(fav_animals)

### **Problem #2.14**

Given the list `us_presidents`, replace `"Jackson"` with `"Lincoln"`, and then print the updated list.

In [ ]:
us_presidents = ["Washington", "Adams", "Jefferson", "Madison", "Jackson"]

#### **Solution**

In [ ]:
us_presidents = ["Washington", "Adams", "Jefferson", "Madison", "Jackson"]
us_presidents[4] = "Lincoln"
print(us_presidents)

['Washington', 'Adams', 'Jefferson', 'Madison', 'Lincoln']

### **Problem #2.15**

Given the list `subjects`, replace `"Science"` with `"Biology"`. Print the list.

In [ ]:
subjects = ["Math", "Science", "History", "English"]

#### **Solution**

In [ ]:
subjects = ["Math", "Science", "History", "English"]
subjects[1] = "Biology"
print(subjects)

['Math', 'Biology', 'History', 'English']

### **Problem #2.16**

Given the list `odd`, replace the even numbers with odd numbers. Print the list.

In [ ]:
odd = [3, 11, 19, 25, 12, 8]

#### **Solution**

In [ ]:
odd = [3, 11, 19, 25, 12, 8]
odd[4] = 7
odd[5] = 33
print(odd)

[3, 11, 19, 25, 7, 33]

<center>

---
### **Back To Lecture**

---

### **Problem #2.17**

**Together**, let's initialize a list called `subjects` and assign it three values: `"English"`, `"Math"`, `"Physics"`.

1. Add `"Computer Science"` and then print the updated list.
2. Add `"Psychology"` and then print the updated list.

#### **Solution**

In [ ]:
subjects = ["English", "Math", "Physics"]
subjects.append("Computer Science")
print(subjects)
subjects.append("Psychology")
print(subjects)

['English', 'Math', 'Physics', 'Computer Science']
['English', 'Math', 'Physics', 'Computer Science', 'Psychology']

### **Problem #2.18**

**Together**, let's initialize an empty list called `endangered`. Append the following values to the list one at a time: `"Tiger"`, `"Giant panda"`, `"Snow leopard"`, and `"Vaquita"`.

Print your list to make sure it is correct.

#### **Solution**

In [ ]:
endangered = []
endangered.append("Tiger")
endangered.append("Giant panda")
endangered.append("Snow leopard")
endangered.append("Vaquita")
print(endangered)

['Tiger', 'Giant panda', 'Snow leopard', 'Vaquita']

### **Problem #2.19**

**Together**, let's remove all animals that live in the water from the list `land_animals`. Then print the list.

In [ ]:
land_animals = ["dog", "tiger", "whale", "bear", "dolphin", "hamster", "shark"]

#### **Solution**

In [ ]:
land_animals = ["dog", "tiger", "whale", "bear", "dolphin", "hamster", "shark"]
land_animals.remove("whale")
land_animals.remove("dolphin")
land_animals.remove("shark")
print(land_animals)

['dog', 'tiger', 'bear', 'hamster']

### **Problem #2.20**


**Together**, let's remove all subjects that are not science subjects the list `sciences`. Then, print the list.

In [ ]:
sciences = ["Physics", "
Math", "History", "Chemistry", "Music", "Biology"]

#### **Solution**

In [ ]:
sciences = ["Physics", "Math", "History", "Chemistry", "Music", "Biology"]
sciences.remove("Math")
sciences.remove("History")
sciences.remove("Music")
print(sciences)

['Physics', 'Chemistry', 'Biology']

### **Problem #2.21**

**Independently**, given the  list `[10, 12, 12, 40]`, append your age to the list.

#### **Solution**

In [ ]:
ls = [10, 12, 12, 40]
ls.append(30)

### **Problem #2.22**

Initialize an empty list called `letters` and append the value `"abc"` three times.

#### **Solution**

In [ ]:
letters = []
letters.append("abc")
letters.append("abc")
letters.append("abc")
print(letters)

['abc', 'abc', 'abc']

### **Problem #2.23**

Given the list `us_presidents`, append `"Nixon"` to the list. Print the list.

In [ ]:
us_presidents = ["Washington", "Adams", "Jefferson", "Madison", "Jackson"]

#### **Solution**

In [ ]:
us_presidents = ["Washington", "Adams", "Jefferson", "Madison", "Jackson"]
us_presidents.append("Nixon")
print(us_presidents)

['Washington', 'Adams', 'Jefferson', 'Madison', 'Jackson', 'Nixon']

### **Problem #2.24**

Given the list below, remove `"Gilmore Girls"` and then print the list.

In [ ]:
fav_tv = ["Gilmore Girls", "Star Trek", "Stranger Things", "Ted Lasso"]

#### **Solution**

In [ ]:
fav_tv = ["Gilmore Girls", "Star Trek", "Stranger Things", "Ted Lasso"]
fav_tv.remove("Gilmore Girls")
print(fav_tv)

['Star Trek', 'Stranger Things', 'Ted Lasso']

### **Problem #2.25**

Remove `3` from the list below.

In [ ]:
age_cats = [5, 3, 2, 4]

#### **Solution**

In [ ]:
age_cats = [5, 3, 2, 4]
age_cats.remove(3)

### **Problem #2.26**

Remove `"pandas"` from the list below.

In [ ]:
fav_animals = ["giraffes", "walruses", "pandas", "peacocks", "monkeys"]

#### **Solution**

In [ ]:
fav_animals = ["giraffes", "walruses", "pandas", "peacocks", "monkeys"]
fav_animals.remove("pandas")

<center>

---
### **Back To Lecture**
---

<a name="p3"></a>

---
## **Part 3: [OPTIONAL] Lists and Indexing Practice**
---

### **Problem #3.1**

Initialize a list called `countries` of three different countries. Print the list.

#### **Solution**

In [ ]:
countries = ["United States", "Brazil", "Egypt"]
print(countries)

### **Problem #3.2**

Initialize a list called `tv_shows` of five different TV shows. Print the list.

#### **Solution**

In [ ]:
tv_shows = ["The Office", "Friends", "Bridgerton", "Parks and Recreation", "Brooklyn Nine-Nine" ]
print(tv_shows)

### **Problem #3.3**

Use indexing to print the element `9`.

In [ ]:
numbers = [1, 3, 5, 7, 9]

#### **Solution**

In [ ]:
numbers = [1, 3, 5, 7, 9]
print(numbers[4])

### **Problem #3.4**

Print the first element in the given list.

In [ ]:
ls = ["first", "second", "third"]

#### **Solution**

In [ ]:
ls = ["first", "second", "third"]
print(ls[0])

### **Problem #3.5**

Print the last element in the given list.

In [ ]:
flowers = ["rose", "tulip", "dandelion", "sunflower"]

#### **Solution**

In [ ]:
flowers = ["rose", "tulip", "dandelion", "sunflower"]
print(flowers[3])

### **Problem #3.6**

Given the list `supplies`,
add `"notebook"` to the list. Print the resulting list.

In [ ]:
supplies = ["textbook", "pencil", "pen"]

#### **Solution**

In [ ]:
supplies = ["textbook", "pencil", "pen"]
supplies.append("notebook")
print(supplies)

['textbook', 'pencil', 'pen', 'notebook']

### **Problem #3.7**

Given the list `supplies`, remove `"pen"` from the list. Print the resulting list.

In [ ]:
supplies = ["textbook", "pencil", "pen", "notebook"]

#### **Solution**

In [ ]:
supplies = ["textbook", "pencil", "pen", "notebook"]
supplies.remove("pen")
print(supplies)

['textbook', 'pencil', 'notebook']

### **Problem #3.8**

Given the list `colors`, replace `"grape"` with `"purple"`. Print the resulting list.

In [ ]:
colors = ["blue", "red", "green", "orange", "grape"]

#### **Solution**

In [ ]:
colors = ["blue", "red", "green", "orange", "grape"]
colors[4] = "purple"
print(colors)

['blue', 'red', 'green', 'orange', 'purple']

### **Problem #3.9**

Given the list `greetings`, remove the empty string. Print the resulting list.

In [ ]:
greetings = ["hello", "", "hi", "hey"]

#### **Solution**

In [ ]:
greetings = ["hello", "", "hi", "hey"]
greetings.remove("")
print(greetings)

['hello', 'hi', 'hey']

### **Problem #3.10**

Given the list `animals`, replace `"zoo"` with `giraffe`. Print the resulting list.

In [ ]:
animals = ["zoo", "dolphin", "horse", "bird", "gorilla"]

#### **Solution**

In [ ]:
animals = ["zoo", "dolphin", "horse", "bird", "gorilla"]
animals[0] = "giraffe"
print(animals)

['giraffe', 'dolphin', 'horse', 'bird', 'gorilla']

### **Problem #3.11**

Use indexing to print the largest number in the list.

In [ ]:
numbers = [93, 27, 42, 31, 95, 97]

#### **Solution**

In [ ]:
numbers = [93, 27, 42, 31, 95, 97]
print(numbers[5])

97

### **Problem #3.12**

Initialize an empty list called `grocery_list`. Then, add the following items to the list, one at a time: `"milk"`, `"eggs"`, `"bread"`, `"juice"`, and `"cheese"`. Print the resulting list.

#### **Solution**

In [ ]:
grocery_list = []
grocery_list.append("milk")
grocery_list.append("eggs")
grocery_list.append("bread")
grocery_list.append("juice")
grocery_list.append("cheese")
print(grocery_list)

['milk', 'eggs', 'bread', 'juice', 'cheese']

### **Problem #3.13**

Given the list `ls = [1, 2, 3, 4, 5]`, create a new list called `reversed_ls` such that it has the values of `ls` in reverse order. Print that list.

In [ ]:
ls = [1, 2, 3, 4, 5]

#### **Solution**

In [ ]:
ls = [1, 2, 3, 4, 5]
reversed_ls = [5, 4, 3, 2, 1]
print(reversed_ls)

[5, 4, 3, 2, 1]

### **Problem #3.14**

Given the list `ls = ["h", "e", "l", "l", "o"]`, print the concatenated string of the elements in the list.

In [ ]:
ls = ["h", "e", "l", "l", "o"]

#### **Solution**

In [ ]:
ls = ["h", "e", "l", "l", "o"]
print(ls[0] + ls[1] + ls[2] + ls[3] + ls[4])

hello

### **Problem #3.15**

Given the list `months`, modify the list so that it contains all 12 months. Print the resulting list.

In [ ]:
months = ["January", "February", "March", "May", "June", "July", "September", "November"]

#### **Solution**

In [ ]:
months = ["January", "February", "March", "May", "June", "July", "September", "November"]
months.append("April")
months.append("August")
months.append("October")
months.append("December")
print(months)

['January', 'February', 'March', 'May', 'June', 'July', 'September', 'November', 'April', 'August', 'October', 'December']

### **Problem #3.16**

Given the list `numbers = [7, 12, 13, 15, 4, 8, 9]`, remove the even numbers from the list. Print the resulting list.

In [ ]:
numbers = [7, 12, 13, 15, 4, 8, 9]

#### **Solution**

In [ ]:
numbers = [7, 12, 13, 15, 4, 8, 9]
numbers.remove(12)
numbers.remove(4)
numbers.remove(8)
print(numbers)

[7, 13, 15, 9]

### **Problem #3.17**

Use indexing to print ```15```.

In [ ]:
numbers = [5, 7, 10, 14, 19]

#### **Solution**

In [ ]:
numbers = [5, 7, 10, 14, 19]
print(numbers[0] + numbers[2])

15

### **Problem #3.18**

Modify the list below so that it becomes `[100, 25, 60, 90, 40]`. Print the resulting list.

In [ ]:
numbers = [10, 25, 40, 60, 90]

#### **Solution**

In [ ]:
numbers = [10, 25, 40, 60, 90]
numbers[0] = 100
numbers.remove(40)
numbers.append(40)
print(numbers)

[100, 25, 60, 90, 40]

#End of notebook
---
© 2023 The Coding School, All rights reserved