<a href="https://colab.research.google.com/github/emilsar/bit-of-data-science-and-scikit-learn/blob/master/TRAIN_AWS_Part_I_Pre_Session_2_%5BSTUDENT%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pre-Session 2: Introduction to Python**
---

### **Description**
In this lab, we will continue learn the basics of coding in python that will be necessary for machine learning in the following days.

<br>

### **Lab Structure**
* **Part 1**: [Review](#p1)
* **Part 2**: [Lists](#p2)
* **Part 3**: [[OPTIONAL] Lists and Indexing Practice](#p3)


<br>

### **Goals**
By the end of this lab, you will:
* Feel comfortable with print statements, variables, and data types in python.
* Be familiar with lists and indexing.

<br>

### **Cheat Sheets**
* [Python Basics](https://docs.google.com/document/d/1jC6zIdBukfEoJ8CesGf_usCtK2P6pJTWe5oxopC49aY/edit?usp=sharing)

<a name="p1"></a>


---
## **Part 1: Review**
---

### **Problem #1.1**

Print your age.

### **Problem #1.2**

Print your name.

### **Problem #1.3**

What are the following data types?

```python
11
"zipcode"
3.0
3
"yellow"
[1, 2, 3]
-11
["peaches", "grapes", "tomatoes"]
"49ers"
```

### **Problem #1.4**

Create a variable called `name` and assign it to your name. Then print a statement that reads: `Welcome back, [YOUR NAME]`

### **Problem #1.5**

Using the variable `zipcode`, print: `"My zipcode is <zipcode>"`.

In [ ]:
zipcode = 11780

### **Problem #1.6**

Print the sum of 76 and 92.

### **Problem #1.7**

Print the product of 2 and 45.0.

### **Problem #1.8**

Print the sum of students and teachers.

In [ ]:
students = 35
teachers = 1
# add code here

### **Problem #1.9**

Create a variable named `participants`. Set it equal to the number of participants in this zoom. Use this variable to print "There are [x] participants in this zoom."

<center>

---

### **Back to Lecture**

---

<a name="p2"></a>

---
## **Part 2: Lists**
---

### **Problem #2.1**

**Together**, let's create a list called `states` of 4 different U.S. states. Print the list.

<br>

**NOTE**: When you create a list, this is referred to as *initializing a list*.

In [ ]:
states = ["Montana", "California", "Alabama", "Georgia"]
print(states)

### **Problem #2.2**

**Together**, let's initialize a list called `even` of all even numbers from 1-10. Print the list.

In [ ]:
even = [# COMPLETE THIS LINE
print(even)

### **Problem #2.3**

**Together**, let's use indexing to print out `“code!”` from the following list.

In [ ]:
ls = ["I", "love", "to", "code!"]

### **Problem #2.4**

**Together**, let's use indexing to print Alexus' name from the following list.

In [ ]:
family = ["Rebecca", "Samuel", "Indiyah", "Alexus"]

### **Problem #2.5**

**Independently**, initialize a list called `count` of numbers 1-6. Print the list.

### **Problem #2.6**

Initialize a list called `animals` of your three favorite animals. Print the list.

### **Problem #2.7**

Use indexing to print out `"the"` in the provided list.

In [ ]:
ls = ["welcome", "to", "the", "coding", "school"]

### **Problem #2.8**

Print `21` using indexing.

In [ ]:
numbers = [17, 15, 21, 33]

### **Problem #2.9**

Print `"Math"` using indexing.

In [ ]:
subjects = ["Math", "Science", "History", "English"]

### **Problem #2.10**

Print `"jellyfish"` using indexing.

In [ ]:
animals = ["shark", "fish", "octopus", "jellyfish", "whale"]

<center>

---

### **Back to Lecture**

---

### **Problem #2.11**

**Together**, let's replace the values of `41` and `20` in the provided list, `ascending`, so that the list is in ascending order.

In [ ]:
ascending = [12, 13, 41, 15, 16, 20, 18]

### **Problem #2.12**

**Together**, let's modify the list `endangered` as follows:

1. Replace `"Tiger"` with `"Rhino"`. Print the list.
2. Replace `"Snow leopard"` with `"Elephant"`. Print the list.

In [ ]:
endangered = ["Tiger", "Giant panda", "Snow leopard", "Vaquita"]

### **Problem #2.13**

**Independently**, replace `"monkeys"` with `"penguins"` in the list below. Print the list.

In [ ]:
fav_animals = ["giraffes", "walruses", "pandas", "peacocks", "monkeys"]

### **Problem #2.14**

Given the list `us_presidents`, replace `"Jackson"` with `"Lincoln"`, and then print the updated list.

In [ ]:
us_presidents = ["Washington", "Adams", "Jefferson", "Madison", "Jackson"]

### **Problem #2.15**

Given the list `subjects`, replace `"Science"` with `"Biology"`. Print the list.

In [ ]:
subjects = ["Math", "Science", "History", "English"]

### **Problem #2.16**

Given the list `odd`, replace the even numbers with odd numbers. Print the list.

In [ ]:
odd = [3, 11, 19, 25, 12, 8]

<center>

---
### **Back To Lecture**

---

### **Problem #2.17**

**Together**, let's initialize a list called `subjects` and assign it three values: `"English"`, `"Math"`, `"Physics"`.

1. Add `"Computer Science"` and then print the updated list.
2. Add `"Psychology"` and then print the updated list.

### **Problem #2.18**

**Together**, let's initialize an empty list called `endangered`. Append the following values to the list one at a time: `"Tiger"`, `"Giant panda"`, `"Snow leopard"`, and `"Vaquita"`.

Print your list to make sure it is correct.

### **Problem #2.19**

**Together**, let's remove all animals that live in the water from the list `land_animals`. Then print the list.

In [ ]:
land_animals = ["dog", "tiger", "whale", "bear", "dolphin", "hamster", "shark"]

### **Problem #2.20**


**Together**, let's remove all subjects that are not science subjects the list `sciences`. Then, print the list.

In [ ]:
sciences = ["Physics", "
Math", "History", "Chemistry", "Music", "Biology"]

### **Problem #2.21**

**Independently**, given the  list `[10, 12, 12, 40]`, append your age to the list.

### **Problem #2.22**

Initialize an empty list called `letters` and append the value `"abc"` three times.

### **Problem #2.23**

Given the list `us_presidents`, append `"Nixon"` to the list. Print the list.

In [ ]:
us_presidents = ["Washington", "Adams", "Jefferson", "Madison", "Jackson"]

### **Problem #2.24**

Given the list below, remove `"Gilmore Girls"` and then print the list.

In [ ]:
fav_tv = ["Gilmore Girls", "Star Trek", "Stranger Things", "Ted Lasso"]

### **Problem #2.25**

Remove `3` from the list below.

In [ ]:
age_cats = [5, 3, 2, 4]

### **Problem #2.26**

Remove `"pandas"` from the list below.

In [ ]:
fav_animals = ["giraffes", "walruses", "pandas", "peacocks", "monkeys"]

<center>

---
### **Back To Lecture**
---

<a name="p3"></a>

---
## **Part 3: [OPTIONAL] Lists and Indexing Practice**
---

### **Problem #3.1**

Initialize a list called `countries` of three different countries. Print the list.

### **Problem #3.2**

Initialize a list called `tv_shows` of five different TV shows. Print the list.

### **Problem #3.3**

Use indexing to print the element `9`.

In [ ]:
numbers = [1, 3, 5, 7, 9]

### **Problem #3.4**

Print the first element in the given list.

In [ ]:
ls = ["first", "second", "third"]

### **Problem #3.5**

Print the last element in the given list.

In [ ]:
flowers = ["rose", "tulip", "dandelion", "sunflower"]

### **Problem #3.6**

Given the list `supplies`,
add `"notebook"` to the list. Print the resulting list.

In [ ]:
supplies = ["textbook", "pencil", "pen"]

### **Problem #3.7**

Given the list `supplies`, remove `"pen"` from the list. Print the resulting list.

In [ ]:
supplies = ["textbook", "pencil", "pen", "notebook"]

### **Problem #3.8**

Given the list `colors`, replace `"grape"` with `"purple"`. Print the resulting list.

In [ ]:
colors = ["blue", "red", "green", "orange", "grape"]

### **Problem #3.9**

Given the list `greetings`, remove the empty string. Print the resulting list.

In [ ]:
greetings = ["hello", "", "hi", "hey"]

### **Problem #3.10**

Given the list `animals`, replace `"zoo"` with `giraffe`. Print the resulting list.

In [ ]:
animals = ["zoo", "dolphin", "horse", "bird", "gorilla"]

### **Problem #3.11**

Use indexing to print the largest number in the list.

In [ ]:
numbers = [93, 27, 42, 31, 95, 97]

### **Problem #3.12**

Initialize an empty list called `grocery_list`. Then, add the following items to the list, one at a time: `"milk"`, `"eggs"`, `"bread"`, `"juice"`, and `"cheese"`. Print the resulting list.

### **Problem #3.13**

Given the list `ls = [1, 2, 3, 4, 5]`, create a new list called `reversed_ls` such that it has the values of `ls` in reverse order. Print that list.

In [ ]:
ls = [1, 2, 3, 4, 5]

### **Problem #3.14**

Given the list `ls = ["h", "e", "l", "l", "o"]`, print the concatenated string of the elements in the list.

In [ ]:
ls = ["h", "e", "l", "l", "o"]

### **Problem #3.15**

Given the list `months`, modify the list so that it contains all 12 months. Print the resulting list.

In [ ]:
months = ["January", "February", "March", "May", "June", "July", "September", "November"]

### **Problem #3.16**

Given the list `numbers = [7, 12, 13, 15, 4, 8, 9]`, remove the even numbers from the list. Print the resulting list.

In [ ]:
numbers = [7, 12, 13, 15, 4, 8, 9]

### **Problem #3.17**

Use indexing to print ```15```.

In [ ]:
numbers = [5, 7, 10, 14, 19]

### **Problem #3.18**

Modify the list below so that it becomes `[100, 25, 60, 90, 40]`. Print the resulting list.

In [ ]:
numbers = [10, 25, 40, 60, 90]

#End of notebook
---
© 2023 The Coding School, All rights reserved